

body{
    font-family: 'Slim Joe';
}

.homepage .homepage-header {
    font-family: 'Slim Joe';
    text-align: center;
    font-size: 32px;
}

.homepage .intro-bio {
    font-family: "Andis";
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
}

/*
.navbar-brand {
    color: #ffc63e;
    font-family: "Times New Roman";
}
*/

